body{
    overflow-y: hidden;
    overflow-x: hidden;
}
#blue{
    width: 100vw;
    height: 100vh;

    z-index: 0;
}
.showGif{
    width: 100vw;
    height: 103vh;

    z-index: 0;
    margin-top: -58px;
}
.notShow{
    width: 100vw;
    height: 103vh;
    display: none;
    z-index: 0;
    margin-top: -58px;
}
#green{
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#gifImg {
    position: relative;
    text-align: center;
    color:  white;
}
#time {
    position: absolute;
    top: 16.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 88px;
    width: 100vw;
    height: 76px;
    font-family: 'Roboto', sans-serif;

}
#cover {
    z-index: 1;
    background-color: black;
    width: 100vw;
    height: 15%;
    position: absolute;
    top: 22.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cover2{
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 33vw;
    height: 13vh;
    top: 90%;
    left: 82%;
    transform: translate(-50%, -50%);
}
#qr{
    z-index: 2;
    background-color: white;
    position: absolute;
    width: 20vw;
    height: 10vh;
    top: 89.5%;
    left: 89.345%;
    transform: translate(-50%, -50%);
}
